/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: #707070;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.grid-wrap {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(20px, auto);
}
.test {
    border: solid 1px red;
}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.horzontal-center {
    position: absolute;
    left: 50%;
    transform: translateZ(-50%);
}
.center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    width: 90%;
    margin: 0 auto;
}

/* header */
header {
    min-height: 10vh;
    background-color: #041E42;
    position: relative;
}
header #logo {
    width: 32px;
}
header .container div {
    width: 100%;
}
header .container div h1 {
    float: left;
    color: #fff;
    margin-right: 3px;
    font-weight: normal;
    font-size: 24px;
}

/* zip code input */
.search {
    height: 7vh;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    z-index: 999;
    grid-column: 1/13;
}
#zipInput {
    border: none;
    border-bottom: 1px solid #b4b4b4;
    grid-column: 1/8;
    font-size: 18px;
    padding-top: 10px;
}
#zipInput::placeholder {
    color: #707070;
}
.search select {
    grid-column: 8/11;
    border: none;
    border-bottom: 1px solid #b4b4b4;
    text-align-last: center;
    color: #707070;
    -webkit-appearance: none; /* Safari and Chrome */
    padding-top: 10px;
}
.search #btn {
    grid-column: 11/13;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #b4b4b4;
    padding-top: 10px;
}
.search #btn img {
    width: 25px;
}

/* error */
#error {
    grid-column: 1/13;
    font-size: 12px;
    color: #ff0000;
}

/* map */
#mapid {
    height: 30vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    grid-column: 1/13;
}

/* list of locations */
.location-list {
    height: 53vh;
    overflow-y: scroll;
    position: relative;
    grid-column: 1/13;
}
.location-list p {
    text-align: center;
    font-size: 18px;
    color: #939393 !important;
}
.loading {
    display: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/Rolling-1s-58px\ \(1\).gif");
    background-position: 50% 50%;
    background-color: rgba(255, 255, 255, 0.8);
    background-repeat: no-repeat;
}


/* media queries */
@media screen and (min-width: 1024px) {
    /* header */
    header {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }
    
    /* zip code input */
    .search {
        grid-column: 1/6;
        grid-row: 1/3;
        box-shadow: none;
        height: 10vh;
    }

    /* list of locations */
    .location-list {
        grid-column: 1/6;
        grid-row: 3/10;
        height: 80vh;
    }

    /* map */
    #mapid {
        grid-column: 6/13;
        grid-row: 1/10;
        height: 90vh;
        box-shadow: none;
        z-index: 0;
    }
}
@media screen and (min-width: 1440px) {
    /* header */
    header #logo {
        width: 40px;
    }
    header .container div h1 {
        font-size: 32px;
    }

    /* zip code input */
    .search {
        grid-column: 1/5;
    }

    /* list of locations */
    .location-list {
        grid-column: 1/5;
    }

    /* map */
    #mapid {
        grid-column: 5/13;
    }
}
@media screen and (min-width: 2560px) {
    /* header */
    header #logo {
        width: 55px;
    }
    header .container div h1 {
        font-size: 47px;
    }

    /* zip code input */
    #zipInput::placeholder {
        font-size: 25px;
    }
    .search select {
        font-size: 20px;
    }
    .search #btn img {
        width: 30px;
    }

    /* list of locations */
    .location-list p {
        font-size: 25px;
    }
}